.animated .ui-progressbar-value {
   border:0px;
   background-image: url("/img/ajax-loader.gif"); 
}

.disable-scroll .ui-dialog-content {
  overflow: hidden !important;
}
#fixe
{
   position: fixed;
   width: 100%;
   height: 30px;
   top: 0px;
   bottom: 0px;
}



#nonAjaxLoad {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.titlepanel .ui-panel-content{
background:#365073;
}